.container {
  position: sticky;
  top: 0;
	height: 100vh;
	background-color: var(--nav-bar-background);

	padding: 4vw 4vw 4vw 4vw;
}

.nav-bar {
  position: relative;
  height: 100%;

  display: grid;
  grid-template-rows: 15% 60% 25%;

  padding: 2vh 2vw 0 2vw;
}

.nav-bar__content {
  position: relative;
	display: flex;
  max-height: 450px;

	flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.title {
  margin-bottom: 10%;
  user-select: none;
  cursor: pointer;
  align-self:flex-start;

  font-size: 3.2rem;
}

.title p {
  font-family: 'Goudy Old Style', sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: black;
}

.title p:first-child{
  margin-bottom: 20px;
}

.email {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.email p {
  font-family: 'Goudy Old Style', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: black;
}

.email p:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: 320px) {
  .nav-bar{
    font-size: 1rem;
    font-weight: 300;
  }
}

@media (min-width: 480px) {
  .nav-bar{
    font-size: 1.2rem;
    font-weight: 300;
  }
}

@media (min-width: 768px) {
  .nav-bar{
    font-size: 1.1rem;
    font-weight: 300;
  }

  .nav-bar__content {
    max-height: 500px;
  }
}

@media (min-width: 1280px) {
  .nav-bar{
    font-size: 1.2rem;
    font-weight: 400;
    grid-template-rows: 15% 60% 25%;
  }

  .container {
    padding: 2vw 2vw 2vw 2vw;
  }

  .nav-bar__content {
    max-height: 550px;
  }
}

@media (min-width: 1600px) {
  .nav-bar{
    font-size: 1.6rem;
    font-weight: 500;
  }
}

@media (min-width: 1920px) {
  .nav-bar{
    font-size: 2rem;
    font-weight: 500;
  }
}