<div class="container">
  <div class="header-block">
    <h3 class="header-block__h">{{survey.name}}</h3>
    <div class="header-block__text">{{survey.description}}</div>
  </div>
  <form class="main-block" [formGroup]="surveyForm" (ngSubmit)="submit()">
    <div formArrayName="questions">
      <div *ngFor="let question of questionsFroms.controls, let i = index" class="questions-list">
        <app-question 
          [formGroupName]="i"
          [questionForm]="question"
          [question]="questions![i]"
          [index]="i">
        </app-question>
      </div>
    </div>
  </form>
  <div *ngIf="takePartSurvey" class="control-block" >
    <button (click)="submit()" class="btn-submit">Отправить</button>
  </div>
</div>
