.btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;

  border: none;
  border-radius: 7px;
  padding: 19px 0 19px 0;

  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 30px 0px rgba(22, 43, 118, 0.50);

  text-align: center;
  user-select: none;
  cursor: pointer;

  /* width: 15vw; */
  width: 11vw;
  min-width: 190px;
  /* max-width: 350px; */
}

.btn:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(82, 110, 211, 1);
  transition: 300ms;
}

.btn-active {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(82, 110, 211, 1);
  transition: 300ms;
}