.outer {
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0 auto;
	background-color: #96A7E6;
	padding: 15px 0 45px 0;
}

.wrapper {
	max-width: 768px;
	margin: 0 auto;
  min-height: 100vh;
  /* position: relative; */

	display: flex;
	flex-direction: column;
	align-items: center;

	/* border: 1px solid red; */

	font-family: 'Montserrat', sans-serif;
	font-size: 1.4rem;
	font-weight: 700;
	line-height: normal;
}

.btn-back {
	align-self: flex-start;
	cursor: pointer;
	user-select: none;

	width: 200px;
	text-align: end;

	background-image: url('../../../../assets/img/arrow.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-size: 10%;
	background-position-x: left;
}

@media (min-width: 320px) {
	.btn-back {
		margin-left: 20px;
	}
}

@media (min-width: 480px) {
	.btn-back {
		margin-left: 15px;
	}
}

@media (min-width: 768px) {
	.btn-back {
		margin-left: 0;
	}
}

@media (min-width: 1280px) {
	.btn-back {
		margin-left: 0;
	}
}

@media (min-width: 1444px) {
	.btn-back {
		margin-left: 0;
	}
}

@media (min-width: 1600px) {
	.btn-back {
		margin-left: 0;
	}
}

@media (min-width: 1920px) {
	.btn-back {
		margin-left: 0;
	}
}