<div *ngIf="questionFirst.question.type > 0" class="average-stat-block">
  <div>
    <h3 class="stat-block__h">Вопрос № {{index + 1}}</h3> 
    <h4 class="stat-block__description">{{newQuestionFirst.title}}</h4>
    <h5 [ngSwitch]="questionFirst.question.type" class="stat-block__type">
      Тип ответа: 
      <span *ngSwitchCase="1">Один ответ</span>
      <span *ngSwitchCase="2">Множественный ответ</span>
      <span *ngSwitchCase="3">Выбор в диапазоне</span>
    </h5>
  </div>
  <div class="flex-conteiner">
    <ng-container *ngIf="questionFirst.question.type !== 3">
      <div class="average-stat-block_number"><div>{{statFirst.answer.answer}}</div></div>
      <div class="average-stat-block_number"><div>{{statSecond.answer.answer}}</div></div>
    </ng-container>

    <ng-container *ngIf="questionFirst.question.type == 3">
      <div class="average-stat-block_number"><div>{{statFirst.rangeValue}}</div></div>
      <div class="average-stat-block_number"><div>{{statSecond.rangeValue}}</div></div>
    </ng-container>
  </div>
  <div class="flex-conteiner">
    <div class="average-stat-block_percent"><div>Процент: {{statFirst.percent}}</div></div>
    <div class="average-stat-block_percent"><div>Процент: {{statSecond.percent}}</div></div>
  </div>
</div>
