.main-block {
  width: 400px;
  height: 50%;

  border-radius: 12px;
  background: var(--main-color);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
  font-family: sans-serif;

  position: relative;
  top: -2vh;
  margin-top: 7%;
}

.main-block__container {
  padding: 30px 35px 20px 35px;
}

.main-block__title {
  font-family: inherit;
  user-select: none;
  font-size: 18px;
  font-weight: 400;
  text-align: center;

  color: rgba(2, 25, 107, 1);
}

.content {
  font-family: inherit;
  font-size: 14px;
  font-weight: 200;

  width: 75%;
  margin: 30px auto;
}