<div class="outer">
  <div class="wrapper">
    <div class="header-block">
      <!-- <img src="../../../../assets/img/logo.png" alt="logo" class="header-block__logo">
      <div class="header-block__content"> -->
        <h3 class="header-block__h">Опросы</h3>
        <p class="header-block__text">Ваше здоровье – наша профессия</p>
      <!-- </div> -->
    </div>
    <div class="main-block">
      <ul *ngFor="let survey of surveys" class="surveys-list">
        <li class="surveys-list__item">
          <div class="link" routerLink="/fill/{{survey.id}}">
            {{survey.name}}
          </div>
          <img (click)="showDialog(survey.id)" class="btn__img" 
            src="../../../../assets/img/link2.svg" alt="">
          <!-- <button class="btn__img" (click)="showDialog(survey.id)"></button> -->
        </li>
      </ul>
    </div>
    <div class="control-block">
  
    </div>
  </div>
  <app-modal-window-link *ngIf="stateModal" [link]="surveyLink" (isOpen)="manageDialog($event)"></app-modal-window-link>
</div>
