.container {
  position: relative;
  width: 70%;
  height: 100%;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  /* right: 10%; */
  gap: 30px
}

.key-access {
  position: relative;
  /* width: 70%; */
  display: flex;
  justify-content: center;
}

.key-access__container {
  position: relative;
  width: 70%;
}

.key-access__input {
  width: 70%;
  height: 60px;
  border-radius: 12px;
  border: none;
  background-color: aliceblue;

  text-align: center;
  margin-bottom: 10px;
}

.key-access__text {
  text-align: center;
  width: 70%;
  font-size: 1rem;
  color: #608C4C;
}

.key-access__btn {
  position: relative;
  top: 10px;
  height: 40px;
  width: 30%;
}

.account-data {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;
}

.login {

}

.email {

}

.btn-change {
  padding: 10px 0;
  width: 50%;
}