<div class="container">
  <div class="container-left">
    <div *ngIf="role == 3" class="key-access">
      <div class="key-access__container">
        <input id="keyAccessAnalyst" value="{{accessKey}}" [formControl]="accessKeyControl" class="key-access__input" />
        <!-- <div class="key-access__text">{{message}}</div> -->
      </div>
      <div class="key-access__btns">
        <button *ngIf="!editingMode" (click)="editKeyAccess()" class="btn">Подключиться</button>
        <div *ngIf="editingMode" class="key-access__controls-btns">
          <button (click)="saveKeyAccess()" class="btn btn_green">Сохранить</button>
          <button (click)="undoEdits()" class="btn btn_red">Отмена</button>
        </div>
      </div>
    </div>
  
    <div *ngIf="role == 2" class="key-access">
      <div class="key-access__container">
        <input id="keyAccessAdmin" value="{{accessKey}}" [formControl]="accessKeyControl" class="key-access__input" />
        <!-- <div class="key-access__text">{{message}}</div> -->
      </div>
      <div class="key-access__btns">
        <button *ngIf="!editingMode" (click)="editKeyAccess()" class="btn">Изменить</button>
        <div *ngIf="editingMode" class="key-access__controls-btns">
          <button (click)="saveKeyAccess()" class="btn btn_green">Сохранить</button>
          <button (click)="undoEdits()" class="btn btn_red">Отмена</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-right">
    <div *ngIf="account.role == 2" class="login">Администратор</div>
    <div *ngIf="account.role == 3" class="login">Аналитик</div>
    <div class="login">{{account.login}}</div>
    <div class="email">{{account.email}}</div>
    <button (click)="deleteAccount()" class="btn btn_red">Удалить учетную запись</button>
  </div>
</div>
