.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

.title {
  font-size: 2.0rem;
  font-weight: 400;
  margin-bottom: 50px;
}

.container-block {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  align-items: center;
}

.container__key-access {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cnt {
  margin-bottom: 15px;
}

.sign {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.key-access__input {
  height: 60px;
  border-radius: 12px;
  border: none;
  background-color: aliceblue;

  width: 60%;
  text-align: center;

  margin: 0 30px 15px 0;
}

.key-access__text {
  margin-top: 20px;
  text-align: center;

  width: 60%;
  line-height: 20px;
  font-size: 1.2rem;
}

.key-access__btns {
  display: flex;
  /* align-items: center; */
}

.key-access__controls-btns {

}

.key-access__btn {
  position: relative;
  top: 10px;
  height: 50px;
  width: 100%;
}

.account-data {
  border-radius: 12px;
  border: none;
  background-color: aliceblue;

  margin: 0 30px 15px 0;
  padding: 10px 30px;
  
  font-size: 1.2rem;
}

.login {

}

.email {

}

.btn-change {
  padding: 10px 0;
  width: 50%;
}

.btn {
  user-select: none;
  cursor: pointer;
  
  font-size: 1.0rem;
  
  border: none;
  max-width: 280px;
  height: 40px;
  min-width: 150px;
  border-radius: 7px;

  background: #526ED3;
  color: #FFF;
  justify-content: center;
  align-items: center;
  
  transition: font-size 500ms;
}

.btn:hover {
  font-size: 1.025rem;
}

.btn_red {
  background: rgb(210, 102, 75);
}

@media (min-width: 320px) {
  .container { 
    align-items: center;
  }

  .container-block {
    align-items: center;
    justify-content: center;
  }

  .account-data {
    margin: 0 15px 15px 15px;
  }
  
  .container__key-access {
    align-items: center;
  }

  .cnt {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .cnt button {
    margin-right: 0;
  }

  .key-access__input {
    width: 100%;
  }

  .key-access__btns button{
    margin-right: 0;
  }
}

@media (min-width: 480px) {
  
}

@media (min-width: 768px) {
  .container { 
    align-items: normal;
  }

  .container-block {
    align-items: center;
    justify-content: normal;
  }

  .account-data {
    margin: 0 30px 15px 0;
  }
  
  
  .container__key-access {
    align-items: normal;
  }

  .cnt {
    display: block;
  }

  .key-access__input {
    height: 60px;
    width: 60%;
  }
}

@media (min-width: 1280px) {
  
}

@media (min-width: 1444px) {
  
}

@media (min-width: 1600px) {
  
}

@media (min-width: 1920px) {
  
}