<div class="container">
  <div class="account-data">
    <div *ngIf="account.role == 2" class="login">Администратор</div>
    <div *ngIf="account.role == 3" class="login">Аналитик</div>
  </div>
  <div class="key-access">
    <div class="key-access__container">
      <input value="код_доступа" class="key-access__input" disabled/>
      <div class="key-access__text">
        Подключение прошло успешно! 
        Перенаправление через 3 сек
      </div>
    </div>
    <button class="btn">Изменить</button>
  </div>
  <div class="account-data">
    <div class="login ">{{account.login}}</div>
    <div class="email">{{account.email}}</div>
    <button class="btn">Изменить данные</button>
  </div>
</div>
