<div class="container">
  <h2 class="title">Страница профиля</h2>
  <div class="container-block">
    <div *ngIf="role == 3" class="container__key-access">
      <div style="margin-bottom: 30px;">
        <label>
          <div class="sign">Ключ доступа</div>
          <input id="keyAccessAdmin" value="{{accessKey.key}}" [formControl]="accessKeyControl" 
            class="key-access__input account-data" />
        </label>
        <button *ngIf="!editingMode" (click)="addKeyAccess()" class="btn">Подключиться</button>
        <div class="key-access__text">
          Чтобы получить доступ ко всем ресурсам учреждения, введите ключ доступа, который предоставил Вам адмистратор.
        </div>
      </div>
      <div class="key-access__btns">
      </div>
    </div>
  
    <div *ngIf="role == 2" class="container__key-access">
      <div style="margin-bottom: 30px;">
        <label>
          <div class="sign">Ключ доступа (для аналитика)</div>
          <input id="keyAccessAdmin" value="{{accessKey.key}}" [formControl]="accessKeyControl" 
            class="key-access__input account-data" />
        </label>
        <!-- <div class="key-access__text">{{message}}</div> -->
        <button *ngIf="!editingMode" (click)="copyContent()" class="btn">Скопировать</button>
      </div>
      <div class="key-access__btns">
        <button *ngIf="!editingMode" (click)="editKeyAccess()" class="btn">Изменить ключ доступа</button>
        <div *ngIf="editingMode" class="key-access__controls-btns">
          <button (click)="saveKeyAccess()" class="btn btn_green">Сохранить</button>
          <button (click)="undoEdits()" class="btn btn_red">Отмена</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-block">
    <label>
      <div class="sign">Роль</div>
      <div class="account-data">
        <span *ngIf="account.role == 2">Администратор</span>
        <span *ngIf="account.role == 3">Аналитик</span>
      </div>
    </label>
    <label>
      <div class="sign">Логин</div>
      <div class="account-data">{{account.login}}</div>
    </label>
    <label>
      <div class="sign">Электронная почта</div>
      <div class="account-data">{{account.email}}</div>
    </label>
  </div>
  <button (click)="deleteAccount()" class="btn btn_red">Удалить учетную запись</button>
</div>
