.container {
  position: sticky;
  top: 0;
	height: 100vh;
	background-color: var(--nav-bar-background);

	padding: 35px 35px 0 35px;
}

.nav-bar {
  position: relative;
	display: flex;
  height: 100%;
	flex-direction: column;
  justify-content: space-between;
}

.nav-bar__content {
  position: relative;
	display: flex;
  height: 80%;
  max-height: 550px;
	flex-direction: column;
  justify-content: space-between;
  align-items: center;

  /* gap: 5vh; */
}

.title {
  margin-bottom: 10%;
  user-select: none;
  cursor: pointer;
  align-self:flex-start;
}

.title p {
  font-family: 'Goudy Old Style', sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: black;
}

.title p:first-child{
  margin-bottom: 20px;
}

.email {
  margin-bottom: 10%;
  font-family: 'Goudy Old Style', sans-serif;
  font-size: 1rem;
  color: black;
}