.container {
	height: 100vh;
	/* width: 20%; */
	background-color: var(--nav-bar-background);

	padding: 75px 35px 55px 35px;
}

.title {

}

.nav-bar {
	display: flex;
	flex-direction: column;
}

.email {

}