<div [ngSwitch]="typeQuestion" class="stat-block">
  <div *ngIf="typeQuestion == 0 || typeStatisticsDisplay == 'Ответы участников'"
    class="stat-block__flex-header">
    <div class="stat-block__h">
      <h3 style="margin-bottom: 20px; font-size: 1.4rem;">Вопрос № {{index + 1}}</h3> 
      <h4 class="stat-block__description">{{question.question.title}}</h4> 
      <h5 class="stat-block__type">
        Тип ответа: 
        <span *ngSwitchCase="0">Вписать ответ</span>
        <span *ngSwitchCase="1">Один ответ</span>
        <span *ngSwitchCase="2">Множественный ответ</span>
        <span *ngSwitchCase="3">Выбор в диапазоне</span>
      </h5>
    </div>
    <tui-select *ngIf="typeQuestion > 0 && typeQuestion != 2"
      [formControl]="typeStatDisplay" class="select-type-display"
      [tuiTextfieldLabelOutside]="true">
      Формат отображения
      <input
          placeholder="Выберите тип диаграммы"
          tuiTextfield
      />
      <tui-data-list-wrapper
          *tuiDataList
          [items]="items"
      >
      </tui-data-list-wrapper>
    </tui-select>
  </div>

  <ng-container *ngIf="typeQuestion > 0 && typeStatisticsDisplay == 'Ответы участников'">
    <app-bar-chart *ngIf=" typeStatDisplay.value == items[0]"
      [dataStat]="stats" [typeQuestion]="typeQuestion"></app-bar-chart>
    <app-pie-chart *ngIf="typeQuestion != 2 && typeStatDisplay.value == items[1]"
      [dataStat]="stats" [typeQuestion]="typeQuestion">
    </app-pie-chart>
  </ng-container>

  <div *ngIf="typeQuestion == 0" class="answer-block">
    <div *ngFor="let answer of stats.answers" class="answer-block__text">
      <div>{{answer}}</div>
    </div>
  </div>
</div>
