.stat-block {
  border-radius: 7px;
  background: #FFF;

  width: 90%;
  min-height: 100px;

  padding: 30px 30px 10px 30px;
  margin-bottom: 30px;
}

.stat-block__flex-header {
  display: grid;
  grid-template-columns: 70% 30%;
  
  margin: 0 auto;
  margin-bottom: 10px;
}

.stat-block__h {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.stat-block__description {
  line-height: 20px;
  width: 95%;
  font-size: 1.2rem;
}