<div class="wrapper">
  <div class="name">{{survey.name}}</div>
  <div routerLink="/employee/main/details/{{survey.id}}">
    <img src="../../../../assets/img/view.png" alt="view"
    class="btn__img">
  </div>
  <div>
    <img src="../../../../assets/img/statistics.png" alt="stats"
    class="btn__img">
  </div>
  <div>
    <img src="../../../../assets/img/link.png" alt="link"
    class="btn__img">
  </div>
  <div class="btn" onclick="">Изменить</div>
  <div class="btn" (click)="deleteSurvey()">Удалить</div>
</div>
