<div class="wrapper">
  <div class="dialog__container_outer">
    <div class="dialog__container_inner" [ngClass]="{patient: isPatient}" >
      <button (click)="closeDialog()" class="dialog__cancel"></button>
      <h2 class="dialog__title">Ссылка на опрос</h2>
      <div class="dialog__text">{{link}}</div>
      <div *ngIf="isShowQRCode" class="qr-code">
        <qrcode [qrdata]=link [width]="170" [errorCorrectionLevel]="'M'"></qrcode>
      </div>
      <div class="dialog__buttons">
        <button *ngIf="!isPatient" tuiButton 
          (click)="copyContent()" 
          class="tui-space_right-3 tui-space_bottom-3"
          size="m"
        >
          Скопировать
        </button>
        <button *ngIf="isPatient" appearance="custom-green" tuiButton 
          (click)="copyContent()" 
          class="tui-space_right-3 tui-space_bottom-3 copy-btn"
          [ngClass]="{patient: isPatient}"
          size="l"
        >
          Скопировать
        </button>
      </div>
    </div>
  </div>
</div>