:host {
  --width-dialog-window: 30vw;
  --height-dialog-window: 35vh;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
}

.dialog__container_outer {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: calc(-1 * var(--width-dialog-window) / 2);
  margin-top: calc(-1 * var(--height-dialog-window) / 2);
}

.dialog__container_inner {
  background-color: #DAE1FA;
  padding: 34px 42px 34px;
  
  width: var(--width-dialog-window);
  height: var(--height-dialog-window);
/* 
  max-width: 500px; */
  border-radius: 7px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dialog__cancel {
  cursor: pointer;
  width: 30px;
  height: 30px;

  position: absolute;
  right: 20px;
  top: 20px;

  background-image: url('../../../../assets/img/btn-close.svg');
  background-color: #DAE1FA;
  background-size: contain;
  background-repeat: no-repeat;

  border: none;
}

.dialog__title {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 20px;
  line-height: 24px;
  /* border-left: 4px solid #526ED3; */
  /* padding-left: 10px; */

  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
}

.dialog__text {
  word-break: break-all;
  text-align: center;
  font-size: 1.4rem;
  line-height: 25px;
}

.dialog__buttons {
  position: relative;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog__copy {
  /* position: absolute; */
  /* left: 0; */
}