<form [formGroup]="surveyForm">
  <div class="header-block" >
    <h3 class="header-block__h">Создание опроса</h3>
    <tui-input class="header-block__input" formControlName="title">Название опроса
      <input tuiTextfield type="text"/>
    </tui-input>
    <tui-textarea class="b-form header-block__input" formControlName="description" >
      Описание
      <textarea maxlength="97" tuiTextfield></textarea>
    </tui-textarea>
  </div>

  <div formArrayName="questions">
    <div *ngFor="let question of questions.controls; let i=index">

      <div [formGroupName]="i" class="question-block">
        <tui-select class="tui-space_top-4 question-block__input-type" [tuiTextfieldLabelOutside]="true"
          formControlName="type">
          <select tuiSelect [items]="tupesQuestions"></select>
        </tui-select>
        <tui-input class="question-block__input-text" formControlName="questionText">
          Введите текст вопроса
          <input tuiTextfield type="text" />
        </tui-input>
      
        
        <div formArrayName="options">
          <div class="only-answer" *ngFor="let option of getYourOptions(i).controls; let j=index">
            <div [ngSwitch]="typeYourQuestion(i)">
              <div *ngSwitchCase="'Один ответ' || 'Множественный ответ'">
                <input type="radio" disabled/>
                <input id="option-{{ j }}" [formControlName]="j" type="text" 
                class="only-answer__input" placeholder="Ответ" />
                <button (click)="removeOption(i, j)" class="removeOption">
                  -
                </button>
              </div>
              <div *ngSwitchCase="'Выбор в диапазоне'">Выбор в диапазоне</div>
              <div *ngSwitchCase="'Вписать ответ'">Вписать ответ</div>
            </div >
          </div>
        </div>
        <button (click)="addOption(i)" class="addOption">
          + Ответ
        </button>
        <!-- <button (click)="consoleLog()">log</button> -->
      </div>
      
      <!-- <app-question id="question-{{ i }}" 
        [idx]="i" formGroupName="{{i}}"
        [(questionGroup)]="questionGroup"
        (idxToRemove)="removeQuestion($event)">
      </app-question> -->

    </div>
  </div>
</form>
<button class="btn-add-question" (click)="addQuestion()">+ Добавить вопрос</button>
<button class="btn-add-question" (click)="consoleLogQuestion()">Вывести вопросы</button>
