<div class="outer">
  <div class="wrapper">
    <div class="btn-back" routerLink="/patient">Вернуться на главную</div>
    <div class="header-block">
      <h3 class="header-block__h">{{survey.name}}</h3>
      <div class="header-block__text">{{survey.descriptions}}</div>
    </div>
    <form class="main-block" [formGroup]="surveyForm" (ngSubmit)="submit()">
      <div *ngFor="let question of survey.questions, let i = index" 
      class="questions-list" formArrayName="questions">
        <app-question 
          [question]="question" 
          [questionGroup]="questionGroup"
          [index]="i" >
        </app-question>
      </div>
    </form>
    <div class="control-block">
      <button (click)="submit()" class="btn-submit">Отправить</button>
    </div>
  </div>
</div>
