<div *ngIf="newQuestion.type > 0" class="average-stat-block">
  <div>
    <h3 class="stat-block__h">Вопрос № {{index + 1}}</h3> 
    <h4 class="stat-block__description">{{newQuestion.title}}</h4>
    <h5 [ngSwitch]="question.question.type" class="stat-block__type">
      Тип ответа: 
      <span *ngSwitchCase="1">Один ответ</span>
      <span *ngSwitchCase="2">Множественный ответ</span>
      <span *ngSwitchCase="3">Выбор в диапазоне</span>
    </h5>
  </div>
  
  <div *ngIf="newQuestion.type !== 3" class="average-stat-block_number"><div>{{stat.answer.answer}}</div></div>
  <div *ngIf="newQuestion.type == 3" class="average-stat-block_number"><div>{{stat.rangeValue}}</div></div>

  <div class="average-stat-block_percent"><div>Процент: {{stat.percent}}</div></div>
</div>
<app-stat-block-text *ngIf="newQuestion.type == 0" 
  class="text-answer" [question]="question" [stats]="stat" [index]="index">
</app-stat-block-text>