<div class="container">
  <app-search class="search"
    (searchEvent$)="applySearch($event)">
  </app-search>
	<ng-container *ngFor="let survey of surveys">
    <div *ngIf="contSubstring(survey)">
      <div class="wrapper wrapper_analyst">
        <div class="name">{{survey.name}}</div>
        <div routerLink="/main/details/{{survey.id}}">
          <img src="../../../../assets/img/view.png" alt="view"
          class="btn__img">
        </div>
        <div (click)="openStatsSurvey(survey.id)">
          <img src="../../../../assets/img/statistics.png" alt="stats"
          class="btn__img">
        </div>
        <div (click)="openDialog(survey.id)">
          <img src="../../../../assets/img/link.png" alt="link"
          class="btn__img">
        </div>
      </div>

      <div *ngIf="role == 2" class="wrapper">
        <div class="name">{{survey.name}}</div>
        <div routerLink="/main/details/{{survey.id}}">
          <img src="../../../../assets/img/view.png" alt="view"
          class="btn__img">
        </div>
        <div (click)="openStatsSurvey(survey.id)">
          <img src="../../../../assets/img/statistics.png" alt="stats"
          class="btn__img">
        </div>
        <div (click)="openDialog(survey.id)">
          <img src="../../../../assets/img/link.png" alt="link"
          class="btn__img">
        </div>
        <div class="btn">Изменить</div>
        <div class="btn" (click)="deleteSurvey(survey.id)">Удалить</div>
      </div>
    </div>
	</ng-container>
  <app-modal-window-link *ngIf="stateModal" [link]="surveyLink" (isOpen)="manageDialog($event)"></app-modal-window-link>
</div>