.control-panel {
  width: 90%;

  border-radius: 7px;
  background: #526ED3;

  display: flex;
  flex-direction: column;

  padding: 30px 50px 30px 50px;
  margin-bottom: 30px;
}

.control-panel__name-survey {
  margin-bottom: 25px;
}

.control-panel__select {
  width: 30%;
}

.control-panel__stat-survey {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.main {

}