<div [formGroup]="statForm" class="control-panel">
  <div class="control-panel__name-survey">
    <tui-select
        tuiTextfieldSize="l"
        class="tui-space_vertical-4"
        formControlName="nameSurvey"
    >
        Название опроса
        <input
            placeholder="Название опроса"
            tuiTextfield
        />
        <tui-data-list-wrapper
            *tuiDataList
            [items]="nameSurveys"
        ></tui-data-list-wrapper>
    </tui-select>
  </div>
  <div class="control-panel__stat-survey">
    <tui-select
        tuiTextfieldSize="l"
        class="tui-space_vertical-4 control-panel__select"
        formControlName="type"
        [tuiTextfieldLabelOutside]="true"
    >
        Тип опроса
        <input
            placeholder="Название опроса"
            tuiTextfield
        />
        <tui-data-list-wrapper
            *tuiDataList
            [items]="types"
        ></tui-data-list-wrapper>
    </tui-select>
    <tui-select
        tuiTextfieldSize="l"
        class="tui-space_vertical-4 control-panel__select"
        formControlName="department"
    >
        Отделение
        <input
            placeholder="Выбор отделения"
            tuiTextfield
        />
        <tui-data-list-wrapper
            *tuiDataList
            [items]="departments"
        ></tui-data-list-wrapper>
    </tui-select>
    <!-- <tui-input-date
        class="control-panel__select"
        formControlName="dateStart"
        tuiTextfieldSize="l"
        [tuiTextfieldLabelOutside]="true"
    >
      Дата начала
    </tui-input-date>
    <tui-input-date
        class="control-panel__select"
        formControlName="dateFinish"
        tuiTextfieldSize="l"
    >
      Дата окончания
    </tui-input-date> -->
    <form
      class="b-form control-panel__select"
      [formGroup]="testForm"
    >
      <tui-input-date-range
        formControlName="testValue"
        tuiUnfinishedValidator="Finish filling the field"
        [max]="max"
        [min]="min"
      >
        Диапазон дат
        <input
          placeholder="From - To"
          tuiTextfield
        />
      </tui-input-date-range>
    </form>
  </div>
</div>
<div class="main">
  <div *ngFor="let question of questions; let i = index" class="stat-block">
    <app-stat-block [question]="question" [index]="i"></app-stat-block>
  </div>
</div>
