<div [formGroup]="statForm" class="control-panel">
  <div class="control-panel__name-survey">
    <tui-select
      class="b-form"
      [tuiTextfieldLabelOutside]="false"
      [valueContent]="surveys ? stringify(surveys) : loading"
      formControlName="nameSurvey"
      [(ngModel)]="value"
    >
      Название опроса
        <ng-template tuiDataList>
            <tui-data-list *ngIf="surveys; else loading">
                <button
                    *ngFor="let item of surveys"
                    tuiOption
                    [value]="item.id"
                >
                    {{ item.name }}
                </button>
            </tui-data-list>
        </ng-template>
        <ng-template #loading>
            <tui-loader class="tui-space_vertical-3 loader"></tui-loader>
        </ng-template>
    </tui-select>
  </div>
  <div class="control-panel__stat-survey">
    <tui-select
        tuiTextfieldSize="l"
        class="tui-space_vertical-4 control-panel__select"
        formControlName="type"
        [tuiTextfieldLabelOutside]="false"
    >
        Тип опроса
        <input
            tuiTextfield
        />
        <tui-data-list-wrapper
            *tuiDataList
            [items]="types"
        ></tui-data-list-wrapper>
    </tui-select>
    <tui-select
        tuiTextfieldSize="l"
        class="tui-space_vertical-4 control-panel__select"
        formControlName="department"
    >
        Отделение
        <input
            placeholder="Выбор отделения"
            tuiTextfield
        />
        <tui-data-list-wrapper
            *tuiDataList
            [items]="departments"
        ></tui-data-list-wrapper>
    </tui-select>
    <div
      class="b-form control-panel__select">
      <tui-input-date-range
        formControlName="dateValueStart"
        tuiUnfinishedValidator="Finish filling the field"
        [max]="max"
        [min]="min"
      >
        Диапазон дат
        <input
          placeholder="From - To"
          tuiTextfield
        />
      </tui-input-date-range>
    </div>
  </div>
  <div *ngIf="type == 'Динамика'" class="control-panel__stat-survey_second">
    <div class="b-form control-panel__select">
      <tui-input-date-range
        formControlName="dateValueEnd"
        tuiUnfinishedValidator="Finish filling the field"
        [max]="max"
        [min]="min"
      >
        Диапазон дат
        <input
          placeholder="From - To"
          tuiTextfield
        />
      </tui-input-date-range>
    </div>
  </div>
</div>
<div class="main">

  <div *ngIf="!uploadedSuccess" style="font-size: 1.8rem; text-align: center; line-height: 30px;">
    {{message}}
  </div>
  <ng-container *ngIf="questionsAll && uploadedSuccess && type == 'Ответы участников'; else elseBlock">
    <div *ngFor="let question of questionsAll; let i = index" class="stat-block">
      <app-stat-block 
        [question]="question" 
        [index]="i" 
        [typeStatisticsDisplay]="type">
      </app-stat-block>
    </div>
  </ng-container>

  <ng-container *ngIf="uploadedSuccess && type == 'Средний балл'">
    <div *ngIf="questionsAverageFirst" class="average-flex-container">
      <div *ngFor="let question of questionsAverageFirst; let i = index">
        <app-average-stat  
          [question]="question" 
          [index]="i">
        </app-average-stat>
      </div> 
    </div>
    <div *ngIf="uploadedSuccess && !questionsAverageFirst">loading...</div>
  </ng-container>

  <ng-container *ngIf="uploadedSuccess && type == 'Динамика'">
    <div *ngIf="(questionsAverageFirst && questionsAverageSecond) 
      && this.questionsAverageFirst.length > 0 && this.questionsAverageSecond.length > 0" 
      class="average-flex-container">
      <ng-container *ngIf="questionsAverageFirst.length <= questionsAverageSecond.length">
        <div *ngFor="let question of questionsAverageFirst; let i = index">
          <app-dynamic-stat 
            [index]="i"
            [questionFirst]="question"
            [questionSecond]="questionsAverageSecond[i]">
          </app-dynamic-stat>
        </div> 
      </ng-container>
      <ng-container *ngIf="questionsAverageFirst.length > questionsAverageSecond.length">
        <div *ngFor="let question of questionsAverageSecond; let i = index">
          <app-dynamic-stat 
            [index]="i"
            [questionFirst]="question"
            [questionSecond]="questionsAverageSecond[i]">
          </app-dynamic-stat>
        </div> 
      </ng-container>
    </div>
    
    <div *ngIf="uploadedSuccess && (!questionsAverageFirst || !questionsAverageSecond)">loading...</div>
  </ng-container>

  <ng-template #elseBlock style="font-size: 1.8rem; text-align: center; width: 90%;"></ng-template>

</div>
