.control-panel {
  border-radius: 7px;
  background: #526ED3;

  display: flex;
  flex-direction: column;

  padding: 30px 50px 30px 50px;
  margin-bottom: 30px;
}

.control-panel__name-survey {
  margin-bottom: 25px;
}

.control-panel__select {
  width: 30%;
}

.control-panel__stat-survey {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.control-panel__stat-survey_second {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  margin-top: 10px;
}

.main {

}

.average-flex-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 320px) {
  .control-panel {
    padding: 20px 5% 20px 5%;
    margin-bottom: 15px;
  }

  .control-panel__select {
    width: 33%;
  }
}

@media (min-width: 480px) {
  
}

@media (min-width: 768px) {
  .control-panel {
    padding: 30px 50px 30px 50px;
    margin-bottom: 30px;
  }

  .control-panel__select {
    width: 30%;
  }
}

@media (min-width: 1280px) {
  
}

@media (min-width: 1444px) {
  
}

@media (min-width: 1600px) {
  
}

@media (min-width: 1920px) {
  
}
