:root {
  --background-color: rgba(218, 225, 250, 1);
  --background-color-footer: rgba(82, 110, 211, 0.19);
  --main-color: rgba(255, 255, 255, 1);
  --background-color-main: rgba(255, 255, 255, 1);
  --text-blue-color: #6A88C1;
  --nav-bar-background: rgba(150, 167, 230, 1);

  --patient-main-background-color: #DBD8D5;
  --patient-title-background-color: #187A30;
  --patient-block-background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

html, body {
	height: 100%;
}

@media (min-width: 1920px) {
  body {
    font-size: 2.5rem;
    font-weight: 500;
  }
}

@media (min-width: 1420px) {
  body {
    font-size: 2rem;
    font-weight: 500;
  }
}

@media (min-width: 1220px) {
  body {
    font-size: 2rem;
    font-weight: 400;
  }
}

.page-container {
  position: relative;
  width: 100%;
  max-width: 1080px !important;
  margin: 0 auto;
}

/* Open Montserrat */

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
      url('./assets/fonts/Montserrat-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'),
      url('./assets/fonts/Montserrat-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Italic'), local('Montserrat-Italic'),
      url('./assets/fonts/Montserrat-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
      url('./assets/fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'),
      url('./assets/fonts/Montserrat-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
      url('./assets/fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Light'), local('Montserrat-Light'),
      url('./assets/fonts/Montserrat-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Black'), local('Montserrat-Black'),
      url('./assets/fonts/Montserrat-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
      url('./assets/fonts/Montserrat-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'),
      url('./assets/fonts/Montserrat-ExtraLightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
      url('./assets/fonts/Montserrat-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
      url('./assets/fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
      url('./assets/fonts/Montserrat-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
      url('./assets/fonts/Montserrat-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
      url('./assets/fonts/Montserrat-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
      url('./assets/fonts/Montserrat-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
      url('./assets/fonts/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Thin'), local('Montserrat-Thin'),
      url('./assets/fonts/Montserrat-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

/* Close Montserrat */

@font-face {
  font-family: 'Goudy Oldstyle Std';
  src: local('Goudy Oldstyle Std Regular'), local('GoudyStd'),
      url('./assets/fonts/GoudyStd.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Goudy Oldstyle Std';
  src: local('Goudy Oldstyle Std Bold Italic'), local('GoudyStd-BoldItalic'),
      url('./assets/fonts/GoudyStd-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Goudy Oldstyle Std';
  src: local('Goudy Oldstyle Std Bold'), local('GoudyStd-Bold'),
      url('./assets/fonts/GoudyStd-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Goudy Oldstyle Std';
  src: local('Goudy Oldstyle Std Italic'), local('GoudyStd-Italic'),
      url('./assets/fonts/GoudyStd-Italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* @media (min-width: 320px) {
  
}

@media (min-width: 480px) {
  
}

@media (min-width: 768px) {
  
}

@media (min-width: 1280px) {
  
}

@media (min-width: 1444px) {
  
}

@media (min-width: 1600px) {
  
}

@media (min-width: 1920px) {
  
} */