:root {
  --background-color: #F7FAFF;
  --main-color: #ffffff;
  --text-blue-color: #6A88C1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
	height: 100%;
}

.page-container {
  position: relative;
  width: 100%;
  max-width: 1080px !important;
  margin: 0 auto;
}

@font-face {
  font-family: 'Goudy Oldstyle Std';
  src: url('GoudyStd.eot');
  src: local('Goudy Oldstyle Std Regular'), local('GoudyStd'),
      url('./assets/fonts/GoudyStd.woff2') format('woff2'),
      url('./assets/fonts/GoudyStd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Goudy Oldstyle Std';
  src: url('GoudyStd-BoldItalic.eot');
  src: local('Goudy Oldstyle Std Bold Italic'), local('GoudyStd-BoldItalic'),
      url('./assets/fonts/GoudyStd-BoldItalic.woff2') format('woff2'),
      url('./assets/fonts/GoudyStd-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Goudy Oldstyle Std';
  src: url('GoudyStd-Bold.eot');
  src: local('Goudy Oldstyle Std Bold'), local('GoudyStd-Bold'),
      url('./assets/fonts/GoudyStd-Bold.woff2') format('woff2'),
      url('./assets/fonts/GoudyStd-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Goudy Oldstyle Std';
  src: url('GoudyStd-Italic.eot');
  src: local('Goudy Oldstyle Std Italic'), local('GoudyStd-Italic'),
      url('./assets/fonts/GoudyStd-Italic.woff2') format('woff2'),
      url('./assets/fonts/GoudyStd-Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

