<form [formGroup]="surveyForm">
  <div class="header-block" >
    <h3 class="header-block__h">Создание опроса</h3>
    <tui-input class="header-block__input" formControlName="name">Название опроса
      <input tuiTextfield type="text"/>
    </tui-input>
    <tui-textarea class="b-form header-block__input" formControlName="description" >
      Описание
      <textarea maxlength="97" tuiTextfield></textarea>
    </tui-textarea>
  </div>

  <div formArrayName="questions">
    <div *ngFor="let question of questions.controls; let i=index">

      <div [formGroupName]="i" class="question-block">

        <button class="removeQuestion" (click)="removeQuestion(i)"></button>
        <tui-select
          *tuiLet="items$ | async as items"
          class="b-form question-block__input-type"
          formControlName="type"
          [tuiTextfieldLabelOutside]="true"
          [valueContent]="stringify(items!)"
        >
          <ng-template tuiDataList>
            <tui-data-list>
              <button *ngFor="let item of items" tuiOption [value]="item.index">
                {{ item.type }}
              </button>
            </tui-data-list>
          </ng-template>
        </tui-select>

        <tui-input class="question-block__input-text" formControlName="title">
          Введите текст вопроса
          <input tuiTextfield type="text" />
        </tui-input>
        <input formControlName="number" [value]="i" type="hidden"/>
        
        <div formArrayName="answerOptions">
          <div *ngFor="let option of getYourOptions(i).controls; let j=index">
            <div [formGroupName]="j" class="answer-block">
              <div [ngSwitch]="typeYourQuestion(i)">
                <input *ngSwitchCase="1" type="radio" disabled class="answer-block__icon"/>
                <input *ngSwitchCase="2" type="checkbox" disabled class="answer-block__icon"/>
              </div>
              <div class="answer-block__control"
                *ngIf="typeYourQuestion(i) == 1 || typeYourQuestion(i) == 2">
                <input id="option-{{ j }}" formControlName="answer" type="text" 
                  class="answer-block__input" placeholder="Ответ" />
                <button (click)="removeOption(i, j)" class="removeOption"></button>
              </div>
            </div>
          </div>
        </div>
        <button *ngIf="typeYourQuestion(i) == 1 || typeYourQuestion(i) == 2"
         (click)="addOption(i)" class="addOption">
          <span>+</span> Ответ
        </button>
        <div class="toggle-required">
          <label>Обязательный вопрос</label>
          <tui-toggle
              formControlName="isRequired"
              size="l"
              class="tui-space_left-1"
          ></tui-toggle>
        </div>
      </div>
      
      <!-- <app-question id="question-{{ i }}" 
        [idx]="i" formGroupName="{{i}}"
        [(questionGroup)]="questionGroup"
        (idxToRemove)="removeQuestion($event)">
      </app-question> -->

    </div>
  </div>
</form>
<button class="btn-add-question" (click)="addQuestion()">+ Добавить вопрос</button>
<button class="btn-add-question" (click)="consoleLog()">Вывести вопросы</button>
