<form [formGroup]="questionForm">
  <div class="question">
    <h3 class="question__h">{{question.title}}</h3>
    <div class="block-answer" formArrayName="selectedOptions">
      <ul *ngFor="let option of options, let i = index" class="options-list">
        <li class="option">
          <input 
            [value]="option.id" 
            [type]="questionTypes[question.type]"
            class="option-input" id="option-{{index}}" />
          <label for="option-{{index}}" class="option-input-text">{{option.answer}}</label>
        </li>
      </ul>
    </div>
    <div *ngIf="question.type == 2">
      <div class="scale">
        <label class="scale-item">
          <span class="scale-item__text">1</span>
          <input 
            type="radio" class="scale-item__input" 
            formControlName="rangeValue" [value]="1" id="range-{{index}}"/>
        </label>
        <label class="scale-item">
          <span class="scale-item__text">2</span>
          <input 
            type="radio" class="scale-item__input" 
            formControlName="rangeValue" [value]="2" id="range-{{index}}"/>
        </label>
        <label class="scale-item">
          <span class="scale-item__text">3</span>
          <input 
            type="radio" class="scale-item__input" 
            formControlName="rangeValue" [value]="3" id="range-{{index}}"/>
        </label>
        <label class="scale-item">
          <span class="scale-item__text">4</span>
          <input 
            type="radio" class="scale-item__input" 
            formControlName="rangeValue" [value]="4" id="range-{{index}}"/>
        </label>
        <label class="scale-item">
          <span class="scale-item__text">5</span>
          <input 
            type="radio" class="scale-item__input" 
            formControlName="rangeValue" [value]="5" id="range-{{index}}"/>
        </label>
        <label class="scale-item">
          <span class="scale-item__text">6</span>
          <input 
            type="radio" class="scale-item__input" 
            formControlName="rangeValue" [value]="6" id="range-{{index}}"/>
        </label>
        <label class="scale-item">
          <span class="scale-item__text">7</span>
          <input 
            type="radio" class="scale-item__input" 
            formControlName="rangeValue" [value]="7" id="range-{{index}}"/>
        </label>
        <label class="scale-item">
          <span class="scale-item__text">8</span>
          <input 
            type="radio" class="scale-item__input" 
            formControlName="rangeValue" [value]="8" id="range-{{index}}"/>
        </label>
        <label class="scale-item">
          <span class="scale-item__text">9</span>
          <input 
            type="radio" class="scale-item__input" 
            formControlName="rangeValue" [value]="9" id="range-{{index}}"/>
        </label>
        <label class="scale-item">
          <span class="scale-item__text">10</span>
          <input 
            type="radio" class="scale-item__input" 
            formControlName="rangeValue" [value]="10" id="range-{{index}}"/>
        </label>
      </div>
    </div>
    <div *ngIf="question.type == 3">
      <input class="input-free-entry" type="text" 
      placeholder="Ответ" formControlName="textAnswer" />
    </div>
  </div>
</form>